@charset "utf-8";
/*
    Author: Abraham Aguilar
    Date: 11.2.17

   Filename: jb_flex.css

   This file contains the flex styles used with the
   Jersey Buoys home page

*/

/*Navs*/

a#navicon {
  display: none;
}

/*=========================================
             Mobile Devices 480px and lower
=========================================*/

@media only screen and (max-width: 480px) {
  body img.logo1 {
    width: 100%;
  }
  body img.logo2 {
    display: none;
  }
  /*FIX*/
  /*a#navicon {
    display: block;
  }
  nav.horizontal ul {
    display: none;
  }
  a#navicon:hover+ul, nav.horizontal ul:hover {
    display: block;
  }*/
  /*FIX*/
  ul#submenu {
    display: none;
  }
  a#submenuTitle:hover+ul#submenu, ul#submenu:hover {
    display: block;
  }
  nav.horizontal ul li a {
    background-color: rgb(24, 56, 194);
    color: rgb(169, 238, 240);
    text-align: center;
    display: block;
    padding: 5px 0;
    width: 100%;
  }
  section.slang {
    display: none;
  }
  article.right, article.info {
    width: 98%;
  }
}

/*=========================================
Tablet and Desktop Devices 481px and higher
=========================================*/

@media only screen and (min-width: 481px) {
  ul#mainmenu>li {
    float: left;
    position: relative;
    width: 20%;
  }
  ul#submenu {
    width: 76.45%;
    box-shadow: rgb(51, 51, 51) 5px 5px 15px;
    position: absolute;
    top: 31.4%;
  }
}
