@charset "utf-8";
/*
    Author: Abraham Aguilar
    Date: 11.2.17

   Filename: jb_flex.css

   This file contains the flex styles used with the
   Jersey Buoys home page

*/

/*Navs*/

a#navicon {
  display: none;
}

/*=========================================
             Mobile Devices 480px and lower
=========================================*/

@media only screen and (max-width: 480px) {
  nav {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
  }
  body img.logo1 {
    width: 100%;
  }
  body img.logo2 {
    display: none;
  }
  /*FIX*/
  a#navicon {
    display: block;
    background-color: rgb(24, 56, 194);
  }
  nav.horizontal ul.major {
    display: none;
  }
  a#navicon:hover+ul, nav.horizontal ul:hover {
    display: block;
  }
  /*FIX*/
  ul#submenu {
    display: none;
  }
  a#submenuTitle:hover+ul#submenu, ul#submenu:hover {
    display: block;
  }
  nav.horizontal ul li a {
    background-color: rgb(24, 56, 194);
    color: rgb(169, 238, 240);
    text-align: center;
    display: block;
    padding: 10px 0;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  section.slang {
    display: none;
  }
  article.right, article.info {
    padding: 5px;
    width: 98%;
  }
  article.info a.info {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}

/*=========================================
Tablet and Desktop Devices 481px and higher
=========================================*/

@media only screen and (min-width: 481px) {
  nav.horizontal ul li:link {
    display: flex;
    flex-flow: row nowrap;
  }
  ul#mainmenu>li {
    float: left;
    width: 20%;
  }
  li {
    position: relative;
  }
  ul#submenu {
    width: 100%;
    box-shadow: rgb(51, 51, 51) 5px 5px 15px;
    position: absolute;
    float: left;
    top: 24px;
  }
}
